/**Estilos de la página web**/


/**Generales**/

html,
body,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

h3 {
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #707070;
    transition: color 0.5s;
}

a:hover {
    transition: 0.5s;
    color: white;
}

hr {
    width: 80px;
    border: solid 0.5px;
    border-color: black;
}

#enlace3,
#enlace4 {
    font-size: 50px;
    font-style: italic;
    color: white;
    background-color: black;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin: 0;
}


/**Encabezado**/

.menu {
    margin-top: -20px;
    overflow: hidden;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    z-index: 1;
}

.cabecera {
    height: 50px;
    width: 170px;
}

.logo-menu {
    width: 50px;
    height: 30px;
    padding: 0;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: relative;
    left: calc(100% - 50px);
    padding-top: 5px;
    z-index: 1;
}

.logo-menu:hover {
    background-color: transparent;
    background-image: none;
    transition: 0.5s;
}

.toggle-menu {
    background-image: url("images/logo.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 50px;
    height: 30px;
    padding: 0;
    position: absolute;
    left: calc(170px - 50px);
    top: 10px;
}

.enlaces-cabecera {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    height: 50px;
}

.li {
    height: 100%;
}

.enlaces-cabecera li a {
    padding-right: 23px;
    padding-left: 23px;
    font-size: 20px;
}

.enlaces-cabecera li:last-of-type a {
    margin-right: 250px;
}


/**fotografía bosque**/

.bosque {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 1000px;
}

.welcome {
    text-align: center;
    padding-top: 300px;
    margin-top: 20px;
}

.welcome h1 {
    padding-bottom: 20px;
}

.welcome h1,
h2 {
    color: white;
}

.vistazo {
    border: solid 1px white;
    padding: 17px 50px;
    width: 100px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.vistazo:hover {
    background-color: white;
    color: #707070;
    transition: 0.5s;
}


/**PRESENTACIÓN**/

.story {
    text-align: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.story h1 {
    padding: 40px 0 0 0;
}

.story2 {
    margin-top: 80px;
    margin-bottom: 100px;
}


/**Dream Team**/

.equipo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.miembros {
    margin-top: 120px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.miembro {
    max-width: 20%;
    margin: 0 30px;
}

.miembro p {
    color: #999999;
    margin-top: 30px;
}

.miembro h3 {
    margin-bottom: 20px;
    color: #999999;
    margin-top: 3px;
}

.miembro h2 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0;
    color: black;
}

.foto-miembro {
    border-radius: 50%;
    width: 210px;
}

.twitter {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter p {
    font-weight: 700;
    color: black;
    margin-top: auto;
}

.logo-twitter {
    width: 30px;
}


/**Servicios**/

.servicios {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 50px;
}

.servicio-derecha {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    width: 1200px;
    height: 550px;
    margin: 0 auto;
    padding: 16px;
}

.imagen-servicio {
    height: 100%;
}

.contendor-imagen {
    overflow: hidden;
    flex-basis: 40%;
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
    width: 600px;
}

.imagen-servicio:hover {
    animation-name: zoom;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes zoom {
    0% {
        transform: scale(1) translateX(0);
    }
    100% {
        transform: scale(1.1) translateX(8px);
    }
}

.servicio-derecha .texto-servicio {
    flex-basis: 40%;
    padding: 20px 0;
    line-height: 20px;
}

.contenedor-izq {
    background-color: #F2F2F2;
}

.servicio-izquierda {
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    max-width: 100%;
    height: 550px;
    margin: 0 auto;
    padding: 16px;
}

.servicio-izquierda .texto-servicio {
    flex-basis: 40%;
    padding: 20px 0;
    line-height: 20px;
}


/**Contacto**/

.contacto {
    width: 65%;
    margin: 90px auto;
    display: flex;
    justify-content: space-between;
    align-items: initial;
}

form {
    flex-basis: 70%;
    font-family: 'PT Sans', sans-serif;
}

form input {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    font-family: 'PT Sans', sans-serif;
    color: #999999;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-bottom: solid rgb(118, 118, 118) 2px;
}

form textarea {
    width: 100%;
}

.btn-enviar {
    border: none;
}

form input::placeholder {
    color: #999999;
    font-weight: 700;
}

form label {
    display: block;
    margin-bottom: 0;
    font-family: 'PT Sans', sans-serif;
    color: #999999;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 15px 0;
}

#Mensaje {
    border: solid #f2f2f2 2px;
    margin-top: 0;
    height: 250px;
    color: black;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}

.telefonos {
    flex-basis: 20%;
}

.telefonos h2 {
    color: black;
    font-weight: 700;
}

.telefonos p {
    color: #999999;
    margin: 5px 0;
}


/**FOOTER**/

footer {
    background-color: black;
}

footer p {
    color: #999999;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.flecha {
    display: block;
    height: 15px;
    width: 15px;
    position: relative;
    top: 20px;
    border-left: solid #999999 4px;
    border-top: solid #999999 4px;
    transform: rotate(45deg);
    margin: 0 auto 50px auto;
}

.rrss {
    padding: 0;
    filter: grayscale(100%);
    display: flex;
    justify-content: center;
    text-align: center;
}

.rrss a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: #464646;
    margin: 0 8px;
}

.rrss a i {
    color: black;
    position: relative;
    top: 50%;
    transform: translateY(-60%);
}

.rrss a:hover {
    background-color: white;
    transition: background-color 0.5s ease;
}